<a href="https://colab.research.google.com/github/LJW0719/CCTV_CNN/blob/main/1_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Upload

---

## Open Json File

In [ ]:
import torch
import json
import pandas as pd

In [ ]:
from pprint import pprint
with open('2021-08-06_10-00-00_fri_sunny_out_ja-ma_C0064.json') as data_file:
  local = json.load(data_file)

In [ ]:
df = pd.DataFrame(local['annotations'])
df

,id,frame,bbox,direction,top_type,top_color,bottom_type,bottom_color,accessories,pet
0,person_0,49,"[225.537109375, 770.84375, 483.11334228515625,...",N,short_sleeve,black,long_pants,grey,umbrella,0
1,person_0,50,"[289.3125, 717.59375, 498.6000000000022, 1043.5]",N,short_sleeve,black,long_pants,grey,umbrella,0
2,person_0,51,"[339.46484375, 650.103515625, 546.299999999999...",N,short_sleeve,black,long_pants,grey,umbrella,0
3,person_0,52,"[386.521484375, 605.521484375, 595.79999999999...",N,short_sleeve,black,long_pants,grey,umbrella,0
4,person_0,53,"[431.1015625, 561.560546875, 609.4000000000015...",N,short_sleeve,black,long_pants,grey,umbrella,0
...,...,...,...,...,...,...,...,...,...,...
1259,person_17,535,"[858.0, 97.0234375, 909.7999992370605, 182.700...",E,short_sleeve,yellow,short_pants,yellow,none,0
1260,person_17,536,"[858.0, 97.0234375, 909.7999992370605, 182.700...",E,short_sleeve,yellow,short_pants,yellow,none,0
1261,person_17,537,"[858.0, 97.0234375, 909.7999992370605, 182.700...",E,short_sleeve,yellow,short_pants,yellow,none,0
1262,person_17,538,"[858.0, 97.0234375, 909.7999992370605, 182.700...",E,short_sleeve,yellow,short_pants,yellow,none,0
1263,person_17,539,"[858.0, 97.0234375, 909.7999992370605, 182.700...",E,short_sleeve,yellow,short_pants,yellow,none,0

## Open Video File

### Upload Video File

In [ ]:
import cv2
from google.colab.patches import cv2_imshow

In [ ]:
video = cv2.VideoCapture('2021-08-06_10-00-00_fri_sunny_out_ja-ma_C0064.mp4')
video

< cv2.VideoCapture 0x7f79c6c3f2b0>

### Show Video Information

In [ ]:
width = video.get(cv2.CAP_PROP_FRAME_WIDTH)
height = video.get(cv2.CAP_PROP_FRAME_HEIGHT)
count = video.get(cv2.CAP_PROP_FRAME_COUNT)
fps = video.get(cv2.CAP_PROP_FPS)

print('Width: ', str(width))
print('Height: ', str(height))
print('Total frame: ', str(count))
print('FPS: ', str(fps))

Width:  1920.0
Height:  1080.0
Total frame:  540.0
FPS:  3.0

### Print Video File

In [ ]:
while video.isOpened():
  ret, frame = video.read()

  if ret:
    reframe = cv2.resize(frame, (round(width/4), round(height/4)))
    cv2_imshow(reframe)
    key = cv2.waitKey(10)

    if key == ord('q'):
      break
  else:
    break

video.release()
cv2.destroyAllWindows()